.select{
    position: relative;
    top: 7em;
    background-color: rgb(248, 248, 248,0.7);
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.order{
    position: fixed;
    right: 3em;
    bottom: 12em; 
}

.price{
    position: relative;
    width: 100px;
    left: -0.6em;
}
.price img{
    width: 90px;
}
.price span{
    color: rgb(19, 18, 18);
    position: relative;
    top:-3em;
    left: 0.2em;
    font-size: 15px;
    font-weight: 600;
}

.select img{
    margin-top:0.3em;
    width:20%;
}
.select input{
    position: relative;
    top:-4px;
    width: 50%;
    font-size: 13px;
    text-align: center;
}
.car{
    position: fixed;
    right: 3em;
    bottom:5em;   
}
.car img,.order img{
    width: 3em;
}
.car span,.order span{
    color: white;
    font-size:15px;
}

#dialog{
    background-color: white;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 1000px;
    width: 30em;
    height: 28em;
    display: none;
}

#dialog .title{
    height: 8%;
    background-color: yellow;
    color:black;
    font-size: 20px;
    text-align: center;
}

.title img{
    position: relative;
    left: 8em;
    width: 1.3em;
}

.car_info{
    height: 92%;
    overflow-y: auto;
}

.car_info tr:first-child td{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.car_info tr td{
     width: 10em;
     text-align: center;
}

.car_info #sum td{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;

}

.car_info #btn button{
    position: relative;

    width: 50%;
    height: 3em;
    background-color:yellow;
    border: 2px solid black;
    font-weight: 900;

}
.car_info #btn button:first-child{
   
    border-right:none;
}

.user_menu{
    background: white;
    position: relative;
    width: 90px;
    height: 80px;

}

#user_center, #order_center, #logout{
    display: inline-block;
    height: 24px;
    margin: 0;
    padding: 0px;
}



