<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="BBQ">
	<title>招牌美食-联系我们-烤天下酒吧烧烤加盟官网 酒吧文化烧烤领导者 </title>
	<meta name="keywords" content="烤天下,烤天下酒吧烧烤,烤天下加盟,烧烤加盟">
	<meta name="description" content="烤天下酒吧烧烤首创海盗主题酒吧烧烤，烧烤加盟请关注烤天下，在这里可以大快朵颐，在这里可以尽情放肆，喝酒吃肉，打劫社交，烤天下酒吧烧烤加盟，要味道还要腔调，烤天下加盟热线：4006099517">
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon/favicon.ico">
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/icon.css">
	<link rel="stylesheet" href="../static/css/food.css">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="css/iehack.css">
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?05e4a554b37e54a1436450128ce7173c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
	</script>
</head>
<body>
<!-- Header -->
<header id="header" class="">
	<div class="container">
		<div class="global-nav">
			<button class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/index">烤天下</a>
			<nav class="navbar">
				<ul class="nav">
					<li class="pc-nav-home">
						<a href="/index">首页</a>
					</li>
					<li class="pc-nav-food">
						<a href="/food"  class="food-current">招牌美食</a>
					</li>
					<li class="pc-nav-char">
						<a href="/activity">特色活动</a>
					</li>
					<li class="pc-nav-join">
						<a href="/join">招商加盟</a>
					</li>
					<li class="pc-nav-ente">
						<a href="/profile">企业概况</a>
					</li>
					<li class="pc-nav-menn">
						<a href="/about">联系我们</a>
					</li>
					
					{% if nickname %}
						<li>
							<a href="/user_center">{{ nickname }}</a>
						</li>
						<li>
							<a href="/logout">注销</a>
						</li>
					{% else %}
						<li class="login">
							<a href="/login">登录</a>
						</li>
						<li>
							<a href="/register">注册</a>
						</li>
					{% endif %}
					
				</ul>
			</nav>
		</div>
	</div>
</header>

<!-- Product -->
<section id="Taste" class="Talents" style="margin-bottom:0;">
	<div class="container">
		<div class="item-title">
			<h1>招牌美食</h1>
			<h3>Signature food</h3>
		</div>
		<div class="row">
			<!-- <div class='col-3'>
				<div class='item-food item-food-1'>
					<a >
						<div class="price">
							<img src="../static/img/icon/huo.png" >
							<span>800.5￥</span>
						</div>
						<div class='select'>
							<img src='../static/img/icon/jia.png' class='add'>
							<input type='text' value='0' disabled>
							<img src='../static/img/icon/jian.png' class='del'>
						</div>
						<h3>火焰鸡翅</h3>
					</a>
				</div>
			</div> -->
		</div>
		<div class="order">
			<a href="/order"><img src="../static/img/icon/dingdan.png" ><br></a>
			<span>&nbsp;订 单</span>
		</div>
		<div class="car">
			<img src="../static/img/icon/car.png" ><br>
			<span>购物车</span>
		</div>
	</div>
</section>
<div id="dialog" >
	<div class="title"><span>购 物 车</span><img src="../static/img/icon/cha.png" ></div>
	<div class="car_info">
			<table>
				{% csrf_token %}
				<tr id="top"><td><span>商品名称</span></td><td><span>商品数量</span></td><td><span>商品价格</span></td></tr>
				<tr id="sum"><td>合计</td><td> 件</td><td> ￥</td></tr>
				<tr id="btn"><td colspan='3' ><button type="button" id="clear">清 空</button><button type="button" id="sub_order">提 交 订 单</button></td>
			</table>
	</div>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="copy"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42128102000190" target="_blank"><font color="#ffffff">鄂公网安备 42128102000190号</font></a>&nbsp;&nbsp;开发团队：十月
		</div>
		<div class="copy">
			Copyright © 2012-2016 www.a-ui.cn <span>地址：武汉市江夏区阳光大道1号武汉纺织大学</span>
		</div>
	</div>
</footer>

<div class="dialog-backdrop"></div>
<script src="../static/js/jquery-1.8.3.min.js"></script>
<script src="../static/js/banner.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="../static/js/web.core.js"></script>
<script src="../static/js/web.adtabs.js"></script>
<script src="../static/js/web.subnav.js"></script>
<script src="../static/js/web.ui.js"></script>
<script src="../static/js/select_food.js"></script>
</body>
</html>
