<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="BBQ">
	<title>三味真火酒吧烧烤加盟官网 酒吧文化烧烤领导者 </title>
	<meta name="keywords" content="三味真火,三味真火酒吧烧烤,三味真火加盟,烧烤加盟">
	<meta name="description" content="三味真火酒吧烧烤首创海盗主题酒吧烧烤，烧烤加盟请关注三味真火，在这里可以大快朵颐，在这里可以尽情放肆，喝酒吃肉，打劫社交，三味真火酒吧烧烤加盟，要味道还要腔调，三味真火加盟热线：4006099517">
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon/favicon.ico">
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/icon.css">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="css/iehack.css">
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?05e4a554b37e54a1436450128ce7173c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
	</script>
	<style type="text/css">
		.expertbox{width:840px;margin:40px auto 0 auto;}
		.it_expert{height:50px;position:relative;color:#686868;line-height:50px;}
		.it_expertp1{width:120px;height:50px;font-size:18px;text-indent:2em;color:#686868;line-height:50px;float:left;}
		.it_expertp2{width:200px;height:50px;float:right;text-align:center;}
		#it_awewe a{display:inline-table!important;}
		.it_expertspan1{margin-right:10px;color:#868585;display:inline-table;text-align:center;line-height:30px;}
		.it_expertspan2{color:#868585;display:inline-block;text-align:center;line-height:30px;}
		.it_expert3{}
		.it_expertxt{height:126px;border-bottom:1px solid #e4e4e4;position:relative;}
		.it_expertit{color:#434343;font-size:16px;padding-left:30px;padding-top:30px;padding-bottom:6px;position:relative;}
		.it_experconter{width:700px;padding:6px;padding-left:30px;color:#7d858c;position:relative;}

	</style>
</head>
<body>
<!-- Header -->
<header id="header" class="">
	<div class="container">
		<div class="global-nav">
			<button class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/index">三味真火</a>
			<nav class="navbar">
				<ul class="nav">
					<li class="pc-nav-home">
						<a href="/index" class="home-current">首页</a>
					</li>
					<li class="pc-nav-food">
						<a href="/food">招牌美食</a>
					</li>
					<li class="pc-nav-char">
						<a href="/activity">特色活动</a>
					</li>
					<li class="pc-nav-join">
						<a href="/join">招商加盟</a>
					</li>
					<li class="pc-nav-ente">
						<a href="/profile">企业概况</a>
					</li>
					<li class="pc-nav-menn">
						<a href="/about">联系我们</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<!--Banner-->
<section class="carousel-top">
	<div class="banner">
		<div class="b-img">
			<a href="#" style="background:url(../static/img/banner/slider-1.jpg) center no-repeat; background-size:cover;"></a>
			<a href="#" style="background:url(../static/img/banner/slider-2.jpg) center no-repeat; background-size:cover;"></a>
			<a href="#" style="background:url(../static/img/banner/slider-1.jpg) center no-repeat; background-size:cover;"></a>
			<a href="#" style="background:url(../static/img/banner/slider-2.jpg) center no-repeat; background-size:cover;"></a>
		</div>
		<div class="b-list"></div>
		<a class="bar-left" href="#"><em></em></a>
		<a class="bar-right" href="#"><em></em></a>
	</div>
</section>
<!-- Product -->
<section id="greenx">
	<div class="container">
		<div class="row">
			<div class="item-title">
				<h1>特色展示</h1>
				<h3>Featured display</h3>
			</div>
			<div class="col-4">
				<div class="item item-music">
					<div class="item-pad item-pad-1"></div>
					<h2>音乐</h2>
					<p>啤酒让人麻醉，音乐让人清醒，摇摆灯光深 夜美味，低吟浅唱亦或是引亢高歌。手持啤酒，碌着烧烤，一起哼唱，充分释放</p>
					<a href="#">了解更多 </a>
				</div>
			</div>
			<div class="col-4">
				<div class="item item-beer">
					<div class="item-pad item-pad-2"></div>
					<h2>啤酒</h2>
					<p>音乐和啤酒就是绝配，搭配天生的华尔兹舞步现场氛围快速升温，让您体验一样与众不同的烧烤盛宴，手持啤酒，碌着烧烤</p>
					<a href="#">了解更多 </a>
				</div>
			</div>
			<div class="col-4">
				<div class="item item-party">
					<div class="item-pad item-pad-3"></div>
					<h2>聚会</h2>
					<p>音乐和啤酒就是绝配，搭配天生的华尔兹舞步现场氛围快速升温，让您体验一样与众不同的烧烤盛宴，手持啤酒，碌着烧烤</p>
					<a href="#">了解更多 </a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- News -->
<section id="philosophy">
	<div class="container">
		<div class="row">
			<div class="item-title">
				<h1>新闻</h1>
				<h3>News</h3>
			</div>
			<div class="col-5 item-news">
				<div class="item-lists">
					<div class="news-img"><a href="#"><img src="../static/img/bj/news.jpg" alt=""></a></div>
					<div class="news-text">
						<h4><a href="/news-page">三味真火成都新店开张</a></h4>
						<p>个性定位，打造极致体验，新店开张火爆成都，要玩要嗨就来三味真火，预定电话 8020113</p>
						<p class="news-large">04-20</p>
						<p>2017</p>
					</div>
				</div>
			</div>
			<div class="col-7 item-axis">
				<div class="item-axis-list clearfix">
					<div class="item-sou">
						<form action="">
							<input  type="text" placeholder="搜索以前的文章">
							<i class="icon-sou"></i>
						</form>
					</div>
					<div class="it_expert3">
						<div id="hot_ranks2">
							<ul class="clearfix current" style="display:block">
								<li>
									<a href="/news-page">
										<div class="axis-time">
											<h4>05-16</h4>
											<span>2017</span>
										</div>
										<div class="axis-title">
											<h5>三味真火创始人做客2017央视元宵晚会</h5>
											<p>个性定位，打造极致体验，新店开张火爆成都，要玩要嗨就来三味真火，预定电话 010-8020113</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="axis-time">
											<h4>04-12</h4>
											<span>2017</span>
										</div>
										<div class="axis-title">
											<h5>夏天烧烤季 你的舌尖归我们</h5>
											<p>如何让烧烤爱好者们从路边摊挪到干净的厅堂里吃烧烤？这是一个餐饮习惯的迁移问题，要打通迁移的通道，首</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="axis-time">
											<h4>04-08</h4>
											<span>2017</span>
										</div>
										<div class="axis-title">
											<h5>做品牌，跳出套路才更有价值</h5>
											<p>一个有生命力的品牌对于用户群体来说像一块具有内循环功能的海绵，不断的吸收，然后反作用于自身来变得更强大，从而达到更大的体量</p>
										</div>
									</a>
								</li>

							</ul>
							<ul class="clearfix current" style="display:none">
								<li>
									<a href="#">
										<div class="axis-time">
											<h4>04-01</h4>
											<span>2017</span>
										</div>
										<div class="axis-title">
											<h5>我们的初心，就是让创业者们成功</h5>
											<p>在风起云涌的餐饮江湖，三味真火异军突起，不仅凭借强势的酒吧烧烤文化刷新了烧烤行业的标准</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="axis-time">
											<h4>03-28</h4>
											<span>2017</span>
										</div>
										<div class="axis-title">
											<h5>丹麦最近有点忧伤，</h5>
											<p> 夏天吃烧烤有三怕，第一是呛烟四起眼泪咳嗽喝着肉一起吃；第二是邻座光膀子撸串嗨起的食客辣眼睛</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="axis-time">
											<h4>03-26</h4>
											<span>2017</span>
										</div>
										<div class="axis-title" style="border-bottom:none">
											<h5>三味真火成都新店开张</h5>
											<p>个性定位，打造极致体验，新店开张火爆成都，要玩要嗨就来三味真火，预定电话 010-8020113</p>
										</div>
									</a>
								</li>
							</ul>
							<ul class="clearfix current" style="display:none">
								<li>
									<a href="#">
										<div class="axis-time">
											<h4>03-22</h4>
											<span>2017</span>
										</div>
										<div class="axis-title">
											<h5>2三味真火成都新店开张</h5>
											<p>个性定位，打造极致体验，新店开张火爆成都，要玩要嗨就来三味真火，预定电话 010-8020113</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="axis-time">
											<h4>03-21</h4>
											<span>2017</span>
										</div>
										<div class="axis-title">
											<h5>三味真火成都新店开张</h5>
											<p>个性定位，打造极致体验，新店开张火爆成都，要玩要嗨就来三味真火，预定电话 010-8020113</p>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="axis-time">
											<h4>03-18</h4>
											<span>2017</span>
										</div>
										<div class="axis-title" style="border-bottom:none">
											<h5>三味真火成都新店开张</h5>
											<p>个性定位，打造极致体验，新店开张火爆成都，要玩要嗨就来三味真火，预定电话 010-8020113</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="button-cut">
						<span id="it_awewe" class="it_awewe">
							<a href="javascript:volid(0);" class="cut-up it_expertspan1" id="previous2"></a>
							<a href="javascript:volid(0);" class="cut-dow it_expertspan2" id="next2"></a>
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- Taste -->
<section id="Taste">
	<div class="container">
		<h2 class="item-taste"></h2>
		<div class="taste-text">
			<h3>要味道</h3>
			<p>一店撸遍全球，现串现烤，想怎么吃就怎么吃。鲜香麻辣，浓油赤酱，满足每个挑剔的吃货。尽情撸串，酣畅淋漓，体味人间美食。</p>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="item-ad-img"><img src="../static/img/pd/ad-1.jpg" alt="要味道"></div>
			</div>
		</div>
		<div class="taste-text">
			<h3>更要腔调</h3>
			<p>大口撸串，放肆喝酒，尽情high唱，这里没有规矩，没有界限，追求自由和释放才是属于年轻人自己的腔调。</p>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="item-ad-img"><img src="../static/img/pd/ad-2.jpg" alt="要味道"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="items">
					<img src="../static/img/icon/f-1.png" alt="">
					<h3>半成品输出，极速配送</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="items">
					<img src="../static/img/icon/f-2.png" alt="">
					<h3>半成品输出，极速配送</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="items">
					<img src="../static/img/icon/f-3.png" alt="">
					<h3>半成品输出，极速配送</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="items">
					<img src="../static/img/icon/f-4.png" alt="">
					<h3>半成品输出，极速配送</h3>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="copy"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42128102000190" target="_blank"><font color="#ffffff">鄂公网安备 42128102000190号</font></a>&nbsp;&nbsp;开发团队：十月
		</div>
		<div class="copy">
			Copyright © 2012-2016 www.a-ui.cn <span>地址：武汉市江夏区阳光大道1号武汉纺织大学</span>
		</div>
	</div>
</footer>

<script src="../static/js/jquery-1.8.3.min.js"></script>
<script src="../static/js/banner.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="../static/js/web.core.js"></script>
<script src="../static/js/web.adtabs.js"></script>
<script src="../static/js/web.subnav.js"></script>
<script src="../static/js/web.ui.js"></script>
<script type="text/javascript">
    $(function(){
        abc2();
    });
    function abc2(){
        var $obj = $('#hot_ranks2 ul');
        var len  = $obj.length;
        var i = 0;
        $("#next2").click(function(){
            i++;
            if(i==len){
                i = 0;
            }
            $obj.stop(true,true).hide().eq(i).fadeIn(600);
            return false;
        });
        $("#previous2").click(function(){
            i--;
            if(i==-1){
                i = len-1;
            }
            $obj.stop(true,true).hide().eq(i).fadeIn(600);
            return false;
        });
    }

    $(".it_expertxt").hover(function(){
        $(this).find(".it_expertit").css("color","#fff");
        $(this).find(".it_experconter").css("color","#fff");
        var div = $(this).find(".it_expertit");
        var div2 = $(this).find(".it_experconter")
        div.addClass("dest").animate({left: 20}, 200);
        div2.addClass("dest").animate({left: 20}, 200);
    },function(){
        var div = $(this).find(".it_expertit");
        var div2 = $(this).find(".it_experconter")
        $(this).find(".it_expertit").css("color","#434343");
        $(this).find(".it_experconter").css("color","#7d858c");
        div.addClass("dest").animate({left: 0}, 200);
        div2.addClass("dest").animate({left: 0}, 200);
    });
</script>
</body>
</html>
