<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="BBQ">
	<title>三味真火酒吧烧烤加盟官网 酒吧文化烧烤领导者 </title>
	<meta name="keywords" content="三味真火,三味真火酒吧烧烤,三味真火加盟,烧烤加盟">
	<meta name="description" content="三味真火酒吧烧烤首创海盗主题酒吧烧烤，烧烤加盟请关注三味真火，在这里可以大快朵颐，在这里可以尽情放肆，喝酒吃肉，打劫社交，三味真火酒吧烧烤加盟，要味道还要腔调，三味真火加盟热线：4006099517">
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon/favicon.ico">

	<link rel="stylesheet" type="text/css" href="../static/css/hd/demo.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/hd/component.css" />
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/icon.css">
	<script src="../static/js/hd/modernizr.custom.js"></script>
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="css/iehack.css">
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?05e4a554b37e54a1436450128ce7173c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
	</script>
</head>
<body>
<!-- Header -->
<header id="header" class="">
	<div class="container">
		<div class="global-nav">
			<button class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/index">三味真火</a>
			<nav class="navbar">
				<ul class="nav">
					<li class="pc-nav-home">
						<a href="/index">首页</a>
					</li>
					<li class="pc-nav-food">
						<a href="/food">招牌美食</a>
					</li>
					<li class="pc-nav-char">
						<a href="/activity">特色活动</a>
					</li>
					<li class="pc-nav-join">
						<a href="/join">招商加盟</a>
					</li>
					<li class="pc-nav-ente">
						<a href="/profile">企业概况</a>
					</li>
					<li class="pc-nav-menn">
						<a href="/about">联系我们</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<!-- activity -->
<!-- News-page top -->
<section id="news-detail-intro" style="padding-top:80px;"></section>
<div id="topic">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h1>新闻</h1>
			</div>
			<div class="col-6">
				<a class="right" href="/news">返回</a>
			</div>
		</div>
	</div>
</div>
<!-- News-page  -->
<section id="news-detail">
	<div class="container">
		<article>
			<h2 class="heading">我们的初心，就是让创业者们成功</h2>
			<span class="date">2017年05月05日</span>
			<div class="detail">
				<p>
					在风起云涌的餐饮江湖，三味真火异军突起，不仅凭借强势的酒吧烧烤文化刷新了烧烤行业的标准，而且独有的“空投式创业系统”也让三味真火的加盟代理商们在新式餐饮时代里掘到了一桶金。在这个万众创业的时代，三味真火是如何在餐饮红海里让创业者们占据高地的呢？带着这个问题，我们的记者对三味真火的创始人熊校军进行了专访。
				</p>
				<figure>
					<img src="../static/img/news/n1.jpg" alt="">
				</figure>
				<p>
					在风起云涌的餐饮江湖，三味真火异军突起，不仅凭借强势的酒吧烧烤文化刷新了烧烤行业的标准，而且独有的“空投式创业系统”也让三味真火的加盟代理商们在新式餐饮时代里掘到了一桶金。在这个万众创业的时代，三味真火是如何在餐饮红海里让创业者们占据高地的呢？带着这个问题，我们的记者对三味真火的创始人熊校军进行了专访。
				</p>
			</div>
		</article>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="copy"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42128102000190" target="_blank"><font color="#ffffff">鄂公网安备 42128102000190号</font></a>&nbsp;&nbsp;开发团队：十月
		</div>
		<div class="copy">
			Copyright © 2012-2016 www.a-ui.cn <span>地址：武汉市江夏区阳光大道1号武汉纺织大学</span>
		</div>
	</div>
</footer>

<script src="../static/js/hd/imagesloaded.pkgd.min.js"></script>

<script src="../static/js/hd/masonry.pkgd.min.js"></script>

<script src="../static/js/hd/classie.js"></script>

<script src="../static/js/hd/cbpGridGallery.js"></script>

<script>

    new CBPGridGallery( document.getElementById( 'grid-gallery' ) );

</script>

<script src="../static/js/banner.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="../static/js/web.core.js"></script>
<script src="../static/js/web.adtabs.js"></script>
<script src="../static/js/web.subnav.js"></script>
<script src="../static/js/web.ui.js"></script>
</body>
</html>
