<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="BBQ">
	<title>招牌美食-联系我们-烤天下酒吧烧烤加盟官网 酒吧文化烧烤领导者 </title>
	<meta name="keywords" content="烤天下,烤天下酒吧烧烤,烤天下加盟,烧烤加盟">
	<meta name="description" content="烤天下酒吧烧烤首创海盗主题酒吧烧烤，烧烤加盟请关注烤天下，在这里可以大快朵颐，在这里可以尽情放肆，喝酒吃肉，打劫社交，烤天下酒吧烧烤加盟，要味道还要腔调，烤天下加盟热线：4006099517">
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon/favicon.ico">
	<link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/icon.css">
    <link rel="stylesheet" href="../static/css/success.css">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="css/iehack.css">
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?05e4a554b37e54a1436450128ce7173c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
	</script>
</head>
<body>
<!-- Header -->
<header id="header" class="">
	<div class="container">
		<div class="global-nav">
			<button class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/index">烤天下</a>
			<nav class="navbar">
				<ul class="nav">
					<li class="pc-nav-home">
						<a href="/index">首页</a>
					</li>
					<li class="pc-nav-food">
						<a href="/food"  class="food-current">招牌美食</a>
					</li>
					<li class="pc-nav-char">
						<a href="/activity">特色活动</a>
					</li>
					<li class="pc-nav-join">
						<a href="/join">招商加盟</a>
					</li>
					<li class="pc-nav-ente">
						<a href="/profile">企业概况</a>
					</li>
					<li class="pc-nav-menn">
						<a href="/about">联系我们</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<!-- Product -->
<section id="Taste" class="Talents" style="margin-bottom:0;">
	<div class="container">
		<div class="item-title">
			<a href="/food"><button type="button">&lt;</button>&nbsp;&nbsp;返回菜单</a>
			<h1>预 定 成 功</h1>
			<h3>Successful Booking</h3>
		</div>
		<div>
            <div class="tip">
                <p>订单详情：</p>
            </div>
            <div class="order_info">
                <div>
                    <label> 订 单 号：</label><span></span><span>order_id</span>
                </div>
                <div>
                   <label> 订 单 时 间：</label><span>date</span>&nbsp;<span>time</span>
                </div>
                <div>
                    <label> 收 货 人：</label><span></span><span>customer</span>
                </div>
                <div>
                    <label> 手 机 号：</label><span></span><span>phone</span>
                </div>
                <div>
                    <label> 收 货 地 址：</label><span>target_addr</span>
                </div>
                <div>
                    <label> 商 品 列 表：</label>
                    <div class="good_info_title">
                        <span>序 号</span><span>商 品 名 称</span><span>数 量</span><span>金 额</span>
                    </div>
                    <div class="good_info">
                        <span>01</span><span>烤鸡翅</span><span>5</span><span>18.00</span>
                    </div>
                    <div class="good_cont">
                        <span>总件数：</span><span>5</span><br>
                        <span>合 计：</span><span>18.00 ￥</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<!-- <footer id="footer">
	<div class="container">
		<div class="copy">©AUI 京ICP备15006025号-1  更多模板：<a href="http://www.mycodes.net/" target="_blank"><font color="#ffffff">源码之家</font></a>
		</div>
		<div class="copy">
			Copyright © 2012-2016 www.a-ui.cn <span>地址：北京市海淀区北三环西路43号中航广场6层</span>
		</div>
	</div>
</footer> -->

<script src="../static/js/jquery-1.8.3.min.js"></script>
<script src="../static/js/banner.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="../static/js/web.core.js"></script>
<script src="../static/js/web.adtabs.js"></script>
<script src="../static/js/web.subnav.js"></script>
<script src="../static/js/web.ui.js"></script>
<script src="../static/js/select_food.js"></script>
</body>
</html>
